@import '../../styles/variables.css';

.recipe-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  text-align: center;
}

dialog {
  border: none !important;
  border-radius: var(--border-radius-sm);
  box-shadow:
    0 0 #0000,
    0 0 #0000,
    0 25px 50px -12px rgba(0, 0, 0, 0.25);
  padding: 1.6rem;
  max-width: 400px;
}

button {
  background-color: var(--primary-color);
  color: var(--text-color);
  border: none;
  padding: 1rem;
  border-radius: var(--border-radius-sm);
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
