@import './styles/variables.css';

.app {
  background-color: var(--background-light);
}

.header {
  background-color: var(--background-white);
}

.subtitle {
  text-align: center;
  margin: 0 auto;
  padding: var(--spacing-2xl);
}

.headerContent {
  text-align: center;
  margin: 0 auto;
  padding: var(--spacing-2xl);
}

.title {
  font-weight: var(--font-weight-bold);
}

@media (min-width: 640px) {
  .main {
    padding: 1.5rem 1.5rem;
  }
}

@media (min-width: 1024px) {
  .main {
    padding: 1.5rem 2rem;
  }
}
