.foodItem {
  margin: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 250px;
  height: 300px;
}

.ingredientImage {
  width: 200px;
  height: 200px;
  object-fit: contain;
}

.imageContainer {
  display: flex;
  justify-content: center;
}

.foodInfo {
  text-align: center;
}

.foodTitle {
  font-weight: 600;
  text-align: center;
}
